.App{
    box-sizing: border-box;
    text-align: center;
}

.container{
    width: 100%;
    min-height: 600px;
    background-color: rgb(14, 43, 45);
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.container .cabezera{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #062226;
    margin: 0 auto;
}
.image {
    width: 100%;
    height: 300px;
    background-image: url(./img/image3.png);
    background-size: 100%;
}
.image .image-riky{
    width: 454px;
    height: 176px;
}
.search-input{
    width: 300px;
    height: 20px;
    margin: 20px;
}
.button-input{
    height: 27px;
}

ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 80%;
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

ul li{
   
    list-style: none;
    border-radius: 10px;
    background-color: #062226;
    width: 355px;
    height: 555px;
    margin-left: 130px;
    margin-bottom: 20px;
    
}

ul li p{
    margin: 0;
    color: #ccc;
}

ul li img{
    width: 100%;
}
.sub-container{
    display: flex;
    flex-direction: column;
    margin: 5px;
}